@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@using PhoneStore.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhoneStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style_spinner.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/">PStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse float-right d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            var user = Context.Session.GetString("USER");
                            if (user != null)
                            {
                                var userObj = JsonConvert.DeserializeObject<TblUser>(user);
                                var str = userObj.Fullname;
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Products" asp-action="Cart">Cart</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Products" asp-action="ViewHistory">History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/">@str</a>
                                </li>

                                <li class="nav-item" style="text-align: right">
                                    <a class="nav-link text-dark custom-b" asp-controller="Users" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item float-right">
                                    <a class="nav-link text-dark custom-b" asp-controller="Home" asp-action="Index">Login</a>
                                </li>
                                <li class="nav-item float-right">
                                    <a class="nav-link text-dark" asp-controller="Users" asp-action="Create">Signup</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <img src="~/images/main_logo.png" style="position:absolute;width:100%;height:120%;opacity:0.18;z-index:-1;"/>
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - PhoneStore - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <style>
        .nav-item .custom-b {
            background: #85adff;
            border-radius: 3px;
            font-family: sans-serif;
            font-weight: 500;
            color: #fff;
            padding: 10px 23px 5px 5px;
            transition: 0.5s;
        }

            .nav-item .custom-b:hover {
                background: #1d99ff;
            }
    </style>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function displayBusyIndicator() {
            $('.loading').show();
        }
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
